repos:
  - repo: local
    hooks:
      - id: treefmt
        name: treefmt
        entry: nix develop -c treefmt --fail-on-change
        language: system
        pass_filenames: false
        always_run: true
