name: Auto-Format

on:
  push:
    branches: [master]
    paths-ignore:
      - "**/*.lock"
      - "home/**"
      - "**/*.md"

concurrency:
  group: format-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v20
      - uses: DeterminateSystems/magic-nix-cache-action@v1
      - run: nix fmt
      - run: |
          git add .
          git diff --quiet && exit 0
          git config user.name 'github-actions[bot]'
          git config user.email '41898282+github-actions[bot]@users.noreply.github.com'
          git commit -m 'chore: auto-format'
          git push
