name: Auto fmt with flake

on:
  push:
    branches:
      - master
      - main
  pull_request:

permissions:
  contents: write
  pull-requests: write

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v20
      - name: Run nix fmt
        run: nix fmt
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          commit-message: "style: auto fmt"
          title: "style: auto fmt"
          branch: auto-fmt
          delete-branch: true
