name: Auto fmt src

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions: {}

jobs:
  format:
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write
      contents: write

    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v20

      - name: Run nix fmt
        run: nix fmt

      - name: Create Pull Request
        id: pr
        uses: peter-evans/create-pull-request@v8
        with:
          commit-message: "style: auto fmt"
          title: "nix fmt: auto format"
          branch: nixfmt

      - name: Merge Pull Request
        if: ${{ steps.pr.outputs.pull-request-url != '' }}
        run: gh pr merge --rebase --auto --delete-branch "${{ steps.pr.outputs.pull-request-url }}"
        env:
          GH_TOKEN: ${{ github.token }}
