name: Flake CI - checks, inputs

on:
  pull_request:
  push:
    branches: [master]

permissions: {}

jobs:
  check-flake:
    name: Check flake
    runs-on: ubuntu-22.04

    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v20

      - name: Check Nix flake inputs
        uses: DeterminateSystems/flake-checker-action@main
        with:
          check-owner: false
          ignore-missing-flake-lock: false
          fail-mode: true

      - name: Nix flake check
        run: nix flake check --show-trace
