name: Update flake locks

on:
  workflow_dispatch:
  schedule:
    - cron: "3 0 * * *"

permissions:
  contents: write
  pull-requests: write

jobs:
  update-lockfile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v20
      - uses: DeterminateSystems/update-flake-lock@v27
      - run: |
          if ! git diff flake.lock --cached --quiet; then
            git config user.name "github-actions[bot]"
            git config user.email "github-actions[bot]@users.noreply.github.com"
            git add -A
            git commit -m "chore: flake locks updated"
            git push origin HEAD:master
          else
            echo "No changes to flake.lock"
          fi

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          branch: ${{ github.head_ref }}
          # force_with_lease: true
