name: "Flake.lock: update Nix dependencies"

on:
  workflow_dispatch: # allows manual triggering
  schedule:
    - cron: '0 0 * * 0' # runs weekly on Sunday at 00:00

jobs:
  nix-flake-update:
    permissions:
      contents: write
      id-token: write
      issues: write
      pull-requests: write

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/determinate-nix-action@v3

      - uses: DeterminateSystems/update-flake-lock@main
        id: pr
        with:
          pr-title: "Update Nix flake inputs"

      - name: Merge Pull Request
        if: ${{ steps.pr.outputs.pull-request-url != '' }}
        run: gh pr merge --rebase --auto --delete-branch "$PR"
        env:
          GH_TOKEN: ${{ github.token }}
          PR: ${{ steps.pr.outputs.pull-request-url }}
