name: "Update submodules"

on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: "51 2 * * *"

permissions:
  contents: write
  pull-requests: write

jobs:
  update-submodules:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Update submodules
        run: git submodule update --remote --recursive

      - name: Create Pull Request
        id: pr
        uses: peter-evans/create-pull-request@v8
        with:
          commit-message: "chore: update submodules"
          title: "chore: update submodules"
          branch: submodule-updates

      - name: Merge Pull Request
        if: ${{ steps.pr.outputs.pull-request-url != '' }}
        run: gh pr merge --rebase --auto --delete-branch "$PR"
        env:
          GH_TOKEN: ${{ github.token }}
          PR: ${{ steps.pr.outputs.pull-request-url }}
